@{
    ViewBag.Title = "ChangePassword";
}
@model FS.Web.Models.RestPassword
<h2>Reset Password</h2>

<form method="post" enctype="multipart/form-data">
    <div class="row">
        <span class="bg-danger">@ViewData["Error"]</span>
        <span class="bg-success">@ViewData["Success"]</span>
    </div>
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-group">
                    <label class = "col-sm-3 control-label">Your email :</label>
                    <div class="col-sm-7">
                        <input type="email" class="form-control" name="Email" />
                    </div>


                </div>
            </div>
            </div>
        </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
            <input type="submit"  class="btn btn-success btn-sm pull-right" value="Reset password" />
                </div>
        </div>
    </div>
</form>
