@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/LayoutWizard.cshtml";
}

<hgroup class="title">
    <h1 class="about_heading">@ViewBag.Title.</h1>
    
    
</hgroup>

<article class="bs-callout bs-callout-warning">
    <h3 class="sub_heading">@ViewBag.Message</h3></br></br>


    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                 <section class="contact">
                    <header>
                        <h3>Phone</h3>
                    </header>

                     <table>
                         <tr>
                             <td style="width:80px">Main</td>
                             <td>: 425.555.0100</td>
                         </tr>
                         <tr>
                             <td>After Hours</td>
                             <td>: 425.555.0199</td>
                         </tr>
                     </table>

                    
                </section>
            </div>
            <div class="col-sm-4" style="margin-left:30px;">
                    <section class="contact">
                         <header>
                        <h3>Email</h3>
                    </header>
                        <table>
                            <tr>
                                <td style="width:80px">Support</td>
                                <td>: <a href="mailto:Support@example.com">Support@example.com</a></td>
                            </tr>
                            <tr>
                                <td>Marketing</td>
                                <td>: <a href="mailto:Marketing@example.com">Marketing@example.com</a></td>
                            </tr>
                            <tr>
                                <td>Support</td>
                                <td>: <a href="mailto:General@example.com">General@example.com</a></td>
                            </tr>
                        </table>  
                </section>
            </div>


            <div class="col-sm-3">
                <section class="contact">
                <header>
                    <h3>Address</h3>
                </header>
                <p>
                    One Microsoft Way<br />
                    Redmond, WA 98052-6399
                </p>
                </section>
                </div>


        </div>
    </div>





   




   
</article>




