@{
    ViewBag.Title = "UderConstruction";
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
<title>Sage Owls - a helping hand for helping hands</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="~/css/style.css" media="all" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>


</head>
<body>
<div class="wrap">
	<h1>Sage Owls</h1>
<div class="main">
	<h2>our website is under construction</h2>
	<div class="banner">
		<img src="~/images/logo.png" alt="" />
	</div>
	<div class="text">
		<h3><span> Will' be here soon !</span></h3>
		
	</div>
	<div class="clear"></div>
	<div class="content">

	<div class="clear"></div>
	</div>
</div>
<div class="footer">
	
</div>
</div>
</body>
</html>
